body {
    background: #daecf9e6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("cold.jpg");
    background-repeat: no-repeat; /* Prevent background image from repeating */
    background-size: cover; /* Cover the entire background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}

.weather-app {
    /* background: #f5f4f4e6; */
    background-image: url('new.png');
    /* box-shadow: 0 0 20px rgba(236, 42, 42, 0.1); */
    padding: 20px;
    border-radius: 10px;
    height: 375px;
    box-shadow: 0 0 20px rgba(9, 5, 5, 0.1);
    text-align: center;
    width: 350px;
    color: #040202; /*Ensure text color is white */
    margin-left: 30px;
}

.weather-app h1 {
    margin-bottom: 20px;
    color: #020101;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#city-input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

#search-btn {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

#search-btn:hover {
    background-color: #0056b3;
}

.weather-info {
    margin-top: 20px;
}

.weather-info h2 {
    font-size: 1.5em;
    color: #040303;
}

.weather-info p {
    margin: 10px 0;
    font-size: 1.2em;
    color: #090808;
}